{% load static %}
{% load humanize %}
{% load embed_video_tags %}
{% load thumbnail %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %} {% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
<script type="text/javascript" src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery/jquery-func.js' %}"></script>
</head>
<body>
<!-- START PAGE SOURCE -->
<div id="shell">
	<div id="header">
	<h1 id="logo"><a href="#">Kite-Anime</a></h1>
	<div class="social"> <span>FOLLOW US ON:</span>
		<ul>
		<li><a class="twitter" href="#">twitter</a></li>
		<li><a class="facebook" href="#">facebook</a></li>
		<li><a class="vimeo" href="#">vimeo</a></li>
		<li><a class="rss" href="#">rss</a></li>
		</ul>
	</div>
	<div id="navigation">
		<ul>
		<li><a class="active" href="#">HOME</a></li>
		<li><a class="active" href="#">ANIME LIST (A-Z)</a></li>
		<li><a href="#">LATEST SERIES</a></li>
		<li><a href="#">LATEST MOVIES</a></li>
		</ul>
	</div>
	<div id="sub-navigation">
		<ul>
		<li><a href="#">GENRES</a></li>
		<li><a href="#">ON GOING</a></li>
		<li><a href="#">COMPLETED</a></li>
		<li><a href="#">MOST COMMENTED</a></li>
		</ul>
		<div id="search">
		<form action="#" method="get" accept-charset="utf-8">
			<label for="search-field">SEARCH</label>
			<input type="text" name="search field" value="Enter search here" id="search-field" class="blink search-field"  />
			<input type="submit" value="GO!" class="search-button" />
		</form>
		</div>
	</div>
	</div>
	<div id="main">
        {% block body %} {% endblock %}
	</div>


	

	<div class="cl">&nbsp;</div>
	</div>


	<div id="footer">
	<p class="lf">Copyright &copy; 2020 <a href="#">Kite-Anime</a> - All Rights Reserved</p>
	<div style="clear:both;"></div>
	</div>
</div>
<!-- END PAGE SOURCE -->
</body>
</html>